<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />

    <title>LiveXchange</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
//<![CDATA[
    setTimeout("location.reload(true);",60000);
    //]]>
    </script>
</head>

<body>
    <h1>LiveXchange</h1>

    <h2><a href="http://liveXchange.herokuapp.com">Xchange Rates, as we
    speak</a></h2>

    <table width="100%">
        <tr>
            <td>
                <div id="main" style="text-align: left;">
                    <ul id="navigationMenu">
                        <li>
                            <a class="home" href="#"><span>Home</span></a>
                        </li>

                        <li>
                            <a class="about" href="#"><span>About</span></a>
                        </li>

                        <li>
                            <a class="services" href=
                            "#"><span>Services</span></a>
                        </li>

                        <li>
                            <a class="portfolio" href=
                            "#"><span>Portfolio</span></a>
                        </li>

                        <li>
                            <a class="contact" href="#"><span>Contact
                            us</span></a>
                        </li>
                    </ul>
                </div>
            </td>

            <td>
                <p><strong>XOOM: Current locked-in exchange rate* 1 USD =
                60.4000 INR</strong></p>

                <p><strong>REMIT2INDIA: 1 USD = 60.87* INR</strong></p>

                <p><strong>MONEY2INDIA: 1 USD =60.66 INR</strong></p>

                <div></div><strong>AXIS BANK :</strong>

                <table border="0" id="axisIndexTable">
                    <tr>
                        <td colspan="2"></td>
                    </tr>

                    <tr>
                        <td class="index_0">US Dollars</td>

                        <td class="index_1">Rupees</td>
                    </tr>

                    <tr>
                        <td class="index_2">100-1099</td>

                        <td class="index_3">60.70</td>
                    </tr>

                    <tr>
                        <td class="index_4">1100-2999</td>

                        <td class="index_5">60.76</td>
                    </tr>

                    <tr>
                        <td class="index_6">3000-4999</td>

                        <td class="index_7">60.85</td>
                    </tr>

                    <tr>
                        <td class="index_8">5000-10000</td>

                        <td class="index_9">60.91</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <p class="note">A Chakravarty</p>
</body>
</html>