* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 14px;
  color: #fff;
  background: #111 no-repeat;
  background-color: #ff9;
  font-family: Arial, Helvetica, sans-serif;
}
.fl_left {
  float: left;
}
.fl_right {
  float: right;
}
.clear {
  clear: both;
}
#navigationMenu li {
  list-style: none;
  height: 39px;
  padding: 2px;
  width: 40px;
}
#navigationMenu span {
  width: 0;
  left: 38px;
  padding: 0;
  position: absolute;
  overflow: hidden;
  font-family: 'Myriad Pro', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.6px;
  white-space: nowrap;
  line-height: 39px;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  transition: 0.25s;
}
#navigationMenu a {
  background: url("img/navigation.jpg") no-repeat;
  height: 39px;
  width: 38px;
  display: block;
  position: relative;
}
#navigationMenu a:hover {
  text-decoration: none;
  -moz-box-shadow: 0 0 5px #9ddff5;
  -webkit-box-shadow: 0 0 5px #9ddff5;
  box-shadow: 0 0 5px #9ddff5;
}
#navigationMenu a:hover span {
  width: auto;
  padding: 0 20px;
  overflow: visible;
}
#navigationMenu .home {
  background-position: 0 0;
}
#navigationMenu .home:hover {
  background-position: 0 -39px;
}
#navigationMenu .home span {
  background-color: #7da315;
  color: #3d4f0c;
  text-shadow: 1px 1px 0 #99bf31;
}
#navigationMenu .about {
  background-position: -38px 0;
}
#navigationMenu .about:hover {
  background-position: -38px -39px;
}
#navigationMenu .about span {
  background-color: #1e8bb4;
  color: #223a44;
  text-shadow: 1px 1px 0 #44a8d0;
}
#navigationMenu .services {
  background-position: -76px 0;
}
#navigationMenu .services:hover {
  background-position: -76px -39px;
}
#navigationMenu .services span {
  background-color: #c86c1f;
  color: #5a3517;
  text-shadow: 1px 1px 0 #d28344;
}
#navigationMenu .portfolio {
  background-position: -114px 0;
}
#navigationMenu .portfolio:hover {
  background-position: -114px -39px;
}
#navigationMenu .portfolio span {
  background-color: #d0a525;
  color: #604e18;
  text-shadow: 1px 1px 0 #d8b54b;
}
#navigationMenu .contact {
  background-position: -152px 0;
}
#navigationMenu .contact:hover {
  background-position: -152px -39px;
}
#navigationMenu .contact span {
  background-color: #af1e83;
  color: #460f35;
  text-shadow: 1px 1px 0 #d244a6;
}
#main {
  margin: 80px auto;
  position: relative;
  width: 40px;
}
#axisIndexTable {
  color: #707070;
  font-size: 15px;
  text-align: left;
  margin: 50px;
}
h1 {
  color: #000;
  font-size: 30px;
  font-weight: normal;
  padding: 60px 0 20px;
  text-align: center;
}
h2 {
  font-weight: normal;
  text-align: center;
}
h1,
h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
}
a,
a:visited,
a:active {
  color: #0196e3;
  text-decoration: none;
  outline: none;
}
a:hover {
  text-decoration: underline;
}
a img {
  border: none;
}
p.note {
  color: #f59611;
  font-size: 12px;
  text-align: center;
  margin: 50px;
}
p.note2 {
  color: #707070;
  font-size: 18px;
  text-align: center;
  margin: 20px;
}
.applewrap {
  width: 80%;
  display: block;
  height: 150px;
  background: #fff;
  border: 1px solid;
  border-color: #e5e5e5 #dbdbdb #d2d2d2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
  -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
  box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
}
.applewrap .col {
  float: left;
  box-sizing: border-box;
  width: 33.33%;
  height: 150px;
  padding: 7px 7px 6px 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #343434;
  border-right: 1px solid #dadada;
}
.applewrap .col.last {
  width: 33.33%;
  border-right-color: ffffff;
}
.applewrap .col.last img {
  float: right;
  position: relative;
  top: -20px;
}
.applewrap .col h2 {
  font-size: 12px;
  margin-bottom: 4px;
  font-weight: bold;
}
#topbar,
#header,
#topnav,
#intro,
#breadcrumb,
#container,
#footer,
#copyright {
  position: relative;
  margin: 0 auto 0;
  display: block;
  width: 960px;
}
div.wrapper {
  display: block;
  width: 100%;
  margin: 0;
  text-align: left;
}
div.wrapper h1,
div.wrapper h2,
div.wrapper h3,
div.wrapper h4,
div.wrapper h5,
div.wrapper h6 {
  margin: 0 0 15px 0;
  padding: 0;
  font-size: 20px;
  font-weight: normal;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.col6 {
  color: #98989a;
  background-color: #000;
  border-top: 1px solid #d51d29;
}
.col6 a {
  color: #fff;
  background-color: #000;
}
.col7,
.col7 a {
  color: #605b5b;
  background-color: #333;
}
#footer {
  padding: 20px 0;
}
#footer h2 {
  padding-bottom: 8px;
  border-bottom: 1px dotted #999;
}
#footer .footbox {
  display: block;
  float: right;
  width: 190px;
  margin: 0 0 0 30px;
  padding: 0;
}
#footer li {
  margin-bottom: 3px;
}
#footer .last {
  margin: 0;
}
#footer p,
#footer ul,
#footer a {
  margin: 0;
  padding: 0;
  font-weight: normal;
  list-style: none;
  line-height: normal;
}
#footer form {
  display: block;
  width: 300px;
  margin: 0;
  padding: 10px 0;
  border: none;
}
#footer input {
  display: block;
  float: left;
  width: 245px;
  margin: 0 5px 0 0;
  padding: 5px;
  color: #666;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
}
#footer input#news_go {
  width: auto;
  height: auto;
  margin: 0;
  padding: 4px;
}
#newsletter {
  display: block;
  float: left;
  width: 300px;
}
#copyright {
  padding: 15px 0;
}
#copyright p {
  margin: 0;
  padding: 0;
}
